@media (max-width: 1009px) {
	#category {
		font-size: 40px !important;
		transform: translateY(15px);
	}
    .sidebar {
		padding: 20px;
		right: 5px;
		top: 10px;
		color: black;
		background-color: white;

		height: auto;
		width: auto;
		position: absolute;
        display: none;
	}
 	#close-sidebar {
 	  display: block;
 	}
	.main {
		margin: 0;
		bottom: -70px;
	}
  	.menu {
  	  display: block;
  	}
	.display-options-wrapper {
		display: none;
	}
}
@media (max-width: 410px) {
	.container-2 {
		margin: 2%;
	}
    .sidebar {
        margin-left: 12px;
    }
}
@media (max-width: 460px) {
	.input::placeholder {
		width: 47px;
	}
}
@media (max-width: 307px) {
	.input::placeholder {
		width: 0;
	}
}
@media (max-width: 354px) {
	.block-container {
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	}
}
@media (max-width: 2100px) {
	.container-2 {
		margin: 30px 20px 30px 20px;
	}
}